@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;font-family: "Roboto", sans-serif;
    text-decoration: none;
}
.hero{
    position: relative;
    background: #825dd2;
    height: 100vh;
}
.container{
    width: 80%;
    margin: 0 auto;
    position: absolute;
}
.hero:after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 100%;
    background: radial-gradient(circle, #bd9fff, transparent,transparent);
    transform: translate(-50%,-50%);
    z-index: 1;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 1000;
}
header nav{
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
header .logo{
    color: white;
    font-size: 40px;
    letter-spacing: 2px;
    font-family: "Anton", sans-serif;
}
header .nav-links{
    display: flex;
    gap: 40px;
}
header .nav-links a{
    color: #f0f0f0;
    font-size: 20px;
    font-family: "Antonio", sans-serif;
    transition: 0.3s;
    margin-left: 20px;
}
header .nav-links a:hover, .active{
    font-size: 24px;
    color: #deceff;
}
.hero .container{
    position: relative;
    width: 100%;
    height: 100%;
    display: FLEX;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
#can{
    position: absolute;
    width: 35%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}
#leaf{
    position: absolute;
    top: 60%;
    left: 10%;
    width: 12%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
    z-index: 10;
}
#blackberry1{
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%,-50%);
    width: 13vw;
}
#blackberry2{
    position: absolute;
    top: 65%;
    left: 40%;
    transform: translate(-50%,-50%);
    width: 15vw;
}
#blackberry3{
    position: absolute;
    top: 35%;
    left: 40%;
    transform: translate(-50%,-50%);
    width: 6vw;
}
#coconoutleaf{
    position: absolute;
    width: 20%;
    top: 10%;
    right: 0;
}
.hero h1{
    font-size: 28vw;
    color: white;
    font-weight: 900;
    letter-spacing: 10px;
    font-family: "Anton", sans-serif;
    text-transform: uppercase;
}

.about{
    padding: 100px 0;
    height: 100vh;
    margin-left: 140px;
}
.about .text{
    width: 50%;
}
.about .text h2{
    font-size: 3.5vw;
    color: #0d071c;
    text-transform: capitalize;
    position: relative;
    z-index: 20;
}
.about .text h2 span{
    color: #825dd2;
}
.about .text .boxs {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 100px; /* يمكنك تعديل الرقم 100 لجعلهم أقرب أكثر مثلاً 80px */
    margin-top: 30px;
    margin-bottom: 60px;
}

.about .text .boxs .box img {
  width: 80px;
  height: auto;
  transform: rotate(60deg);
}

.about .text .boxs .box h4{
    color: #0d071c;
    margin: 20px 0 10px;
    font-size: 1.1vw;
}
.about .text .boxs .box p{
    font-size: 0.9vw;
    color: #4d4d4d;
}
.about .text .btn{
    padding: 15px 45px;
    font-size: 18px;
    border: 1px solid #825dd2;
    background: #825dd2;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    transition: 0.3s;
}
.about .text .btn:hover{
    background: transparent;
    color: #825dd2;
}
.stand{
    height: 85vh;
    background: #bd9fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 130px;
}
.stand .container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.stand img{
    width: 55%;
}
.stand h3{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 26vh;
    text-transform: uppercase;
    font-family: "Anton", sans-serif;
    color: #6a47b4;
    letter-spacing: 12px;
}
footer{
    color:#6a47b4;
    padding: 1rem;
    text-align: center;
    background: #bd9fff;
    font-family: "Anton", sans-serif;
}
footer p{
    font-family: "Antonio", sans-serif;
    
}
/* Disable text selection and copying */
body {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none;         /* Standard syntax */
}
